<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Description</key>
	<string>Data Module</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Name of the view module</string>
			<key>Identifier</key>
			<string>dataModuleName</string>
			<key>Name</key>
			<string>Data Module Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_dataModuleName:Identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_dataModuleName:identifier___Interactor</string>
			<key>Description</key>
			<string>The Interactor name</string>
			<key>Identifier</key>
			<string>dataName</string>
			<key>Name</key>
			<string>Data Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_dataModuleName:identifier___Repository</string>
			<key>Description</key>
			<string>The repository name</string>
			<key>Identifier</key>
			<string>repositoryName</string>
			<key>Name</key>
			<string>Repository Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Template Author</key>
	<string>Joyce Rosario Batista</string>
</dict>
</plist>
